.container {
  padding: 0 25px;
}

.title {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.link-box {
  padding: 10px;

  .link {
    font-size: 12px;
    color: #666;
    margin-right: 10px;
  }

  .selected{
    color: #0088cc;
  }
}

.info {
  padding: 10px;
  font-size: 12px;
  color: #999;
}
